Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored for efficient retrieval, manipulation, and management. 

SQL (Structured Query Language) Databases:

SQL databases are relational databases that store data in structured tables with predefined schemas. Each table has columns (attributes) and rows (records).
They are also known as RDBMS (Relational Database Management Systems) and include popular systems like MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.
SQL databases use a fixed schema, meaning the structure of the database, including table names, column names, and data types, is defined before data insertion.
Data integrity is enforced through relationships and constraints defined in the schema.
SQL databases are best suited for structured data with well-defined relationships, and they are excellent for complex queries and transactions.
They are typically used in scenarios where data consistency and ACID (Atomicity, Consistency, Isolation, Durability) transactions are critical.

NoSQL (Not Only SQL) Databases:

NoSQL databases are non-relational databases designed to store and manage unstructured or semi-structured data. They include document stores, key-value stores, column-family stores, and graph databases.
Examples of NoSQL databases include MongoDB (document store), Cassandra (column-family store), Redis (key-value store), and Neo4j (graph database).
NoSQL databases provide flexibility in data modeling, allowing developers to store data in a more dynamic and schema-less manner.
They are suitable for handling large volumes of data, including data that doesn't fit neatly into structured tables, such as JSON or XML documents.
NoSQL databases are often used in scenarios that require horizontal scalability and high availability, like web applications and big data analytics.
Unlike SQL databases, they may sacrifice some aspects of data consistency (e.g., eventual consistency) for scalability and performance.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL (Structured Query Language) that is used to define, manage, and modify the structure of a database. DDL statements are responsible for creating, altering, and dropping database objects like tables, indexes, and constraints. They help in defining the schema of a database.

In [ ]:
-- CREATE: The CREATE statement is used to create new database objects like tables, views, indexes, or schemas. Here's an example of creating a new table: sql

CREATE TABLE test.employees ( employee_id INT PRIMARY KEY, first_name VARCHAR(50), last_name VARCHAR(50), hire_date DATE );

In [ ]:
-- DROP: The DROP statement is used to delete existing database objects, such as tables or indexes. Here's an example of dropping a table: sql

DROP TABLE employees;

In [ ]:
-- ALTER: The ALTER statement is used to modify the structure of an existing database object, typically a table. For example, you can add or remove columns or modify column data types: sql

ALTER TABLE employees ADD email VARCHAR(100);

In [ ]:
-- TRUNCATE: The TRUNCATE statement is used to remove all rows from a table, effectively deleting all data while keeping the table structure intact: sql

TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.


DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) that focuses on manipulating data within a database. DML statements are used to retrieve, insert, update, and delete data from database tables. Let's explore three essential DML commands: INSERT, UPDATE, and DELETE, with examples:

In [2]:
-- INSERT: The INSERT statement is used to add new rows (records) into a database table. You specify the table name and provide values for each column in the new row. Here's an example of inserting a new employee record:


INSERT INTO test.employees (employee_id, first_name, last_name, hire_date)
VALUES (102, 'John', 'Doe', '2023-01-15');

SyntaxError: invalid syntax (3873941349.py, line 1)

In [ ]:
-- UPDATE: The UPDATE statement is used to modify existing records within a table. You specify the table name, set the columns you want to update, and provide new values. Here's an example of updating an employee's last name:
UPDATE test.employees
SET last_name = 'Smith'
WHERE employee_id = 101;

In [ ]:
-- DELETE: The DELETE statement is used to remove rows from a table based on specified conditions. It is used to delete records that meet certain criteria. Here's an example of deleting an employee record:


DELETE FROM test.employees
WHERE employee_id = 101;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL (Structured Query Language) that is primarily used for querying and retrieving data from a database. The primary DQL command is SELECT, which allows you to specify the data you want to retrieve from one or more database tables.

In [ ]:
-- Select All Rows and Columns:To retrieve all rows and all columns from the students table, you can use the SELECT * statement:


SELECT * FROM test.employees;

In [ ]:
-- <!-- Select Specific Columns: You can select specific columns by specifying their names after the SELECT keyword: -->

SELECT first_name, last_name FROM test.employees;

Q5. Explain Primary Key and Foreign Key.

Primary Key:

A primary key is a field or a combination of fields in a database table that uniquely identifies each record (row) in that table. It serves as a unique identifier for each row and ensures that no two rows in the table have the same values for the primary key. 

Foreign Key:

A foreign key is a field in a database table that is used to establish a link between two tables. It creates a relationship between two tables by referencing the primary key of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [3]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fde3c55c610>
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test',)

cursor(): This line creates a cursor object named cursor using the cursor() method of the database connection. The cursor is used to execute SQL queries and fetch results from the database.

The execute() method is used to execute an SQL query specified in sql_query. You can also pass optional data as a tuple to be inserted into the query using placeholders (%s). In the code above, we used execute() to create a table, insert data, and fetch data from the database.

Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the clauses are typically executed in the following order:

SELECT: The SELECT clause specifies the columns you want to retrieve from the database. It is one of the first clauses to be executed.

FROM: The FROM clause specifies the tables from which you are retrieving data. After executing the SELECT clause, the database knows which columns you want, but it needs to determine from which tables to fetch them. This is where the FROM clause comes in.

WHERE: The WHERE clause is used to filter the rows returned by the query based on a specified condition. It is executed after the FROM clause, ensuring that only rows meeting the specified criteria are included in the result set.

GROUP BY: The GROUP BY clause is used to group rows with the same values in specified columns into summary rows. It is executed after the WHERE clause and before the HAVING clause if present.

HAVING: The HAVING clause is used to filter grouped rows based on aggregate functions (e.g., SUM, COUNT). It is similar to the WHERE clause but is used with grouped data. It is executed after the GROUP BY clause.

ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns, either in ascending (ASC) or descending (DESC) order. It is executed after all previous clauses and before the final result is returned.

LIMIT/OFFSET: These clauses are used to limit the number of rows returned or to skip a specified number of rows before starting to return results. They are applied after the ORDER BY clause, affecting the final result set's size and ordering.

UNION/INTERSECT/EXCEPT: These set operations combine or compare the result sets of two or more queries. They are executed after all the clauses mentioned earlier and before the final result set is returned.